body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    display: flex;
    padding-bottom: 4rem;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}